<div th:fragment="admin_navigation">
    <nav class="navi">
        <label class="logo"> <a href="#"><img th:src="@{~/images/Logo_transparent.png}" alt=""></a></label>
        <h1>Hotel Paradise : Admin </h1>

    </nav>
    <div id="mySidenav" class="sidenav">
        <label class="logoInNav"> <a href="#"><img src="../images/logo.png" alt=""></a></label>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a class="list-group-item" id="new" th:href="@{~/admin/list}">new booking</a>
        <a class="list-group-item" id="book" th:href="@{~/admin/contactfetch}">View FeedBack</a>
        <a class="list-group-item" id="logout" th:href="@{~/logout}" style="margin-top: 150px">Logout</a>
    </div>
    <span class="burger" onclick="openNav()">&#9776;</span>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>


</div>
